@import url('https://fonts.googleapis.com/css2?family=Chiron+GoRound+TC:wght@200;300;400;500;600;700;800;900&display=swap');

@import "tailwindcss";

@theme {
  --font-sans:
    "Chiron GoRound TC",
    "Microsoft JhengHei",
    sans-serif;
}

:root {
  font-family:
    "Chiron GoRound TC",
    "Microsoft JhengHei",
    sans-serif;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
}

html,
body,
#root {
  margin: 0;
  min-width: 320px;
  min-height: 100%;
  font-family:
    "Chiron GoRound TC",
    "Microsoft JhengHei",
    sans-serif;
}

button,
input,
textarea,
select {
  font: inherit;
}